<div class="container-fulid bg-black sticky-top">
    <nav class="navbar navbar-light justify-content-center">

        <span class="navbar-brand mb-0 h1 text-light" id="navfont">  <a class="nav-link active text-light fs-2 " routerLink="" > a c e c r a f t</a> </span>

    </nav>

    <ul class="nav justify-content-center mt-2">
        <li class="nav-item pe-4">
            <a class="nav-link  text-light fs-6" routerLink="school">SCHOOL</a>
        </li>
        <li class="nav-item pe-4">
            <a class="nav-link  text-light fs-6" routerLink="#">COLLEGE</a>
        </li>
        <li class="nav-item pe-4">
            <a class="nav-link  text-light fs-6" routerLink="#">ENTERPRISE</a>
        </li>
        <li class="nav-item pe-4">
            <a class="nav-link text-light fs-6" routerLink="#">NOTE<i class="p-overlay-badge" pBadge    style="font-size: 0.3rem;margin-left: 10px;"></i> </a>
        </li>
        <li class="nav-item pe-4">
            <a class="nav-link text-light fs-6" routerLink="#">AIREN MASK</a>
        </li>
    </ul>
    <div class="d-flex" style="float:right;margin-top:-30px;">
        <a class="nav-link text-light me-5" routerLink="# "><i class="pi pi-cog"style="font-size: 1.5rem "></i></a>
        <a class="nav-link text-light me-4" routerLink="# "><i class="pi pi-shopping-cart p-overlay-badge" pBadge value="4" severity="danger"  style="font-size: 1.5rem;"></i></a>
    </div>

</div>