<div class="container-fulid bg-black fixed-top">
    <nav class="navbar navbar-light justify-content-center ">

        <span class="navbar-brand mb-0 h1 text-light" id="navfont">  <a class="nav-link active text-light fs-2 " routerLink="acecraft" > a c e c r a f t</a> </span>

    </nav>
    <ul class="nav justify-content-center mt-2">
        <li class="nav-item">
            <a class="nav-link active text-light fs-6" routerLink="school">SCHOOL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-light fs-6" routerLink="#">COLLEGE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-light fs-6" routerLink="#">ENTERPRISE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light fs-6" routerLink="#">NOTE<i class="p-overlay-badge" pBadge    style="font-size: 0.3rem;margin-left: 10px;"></i> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light fs-6" routerLink="#">AIREN MASK</a>
        </li>

        <a class="nav-link text-light " routerLink="# "><i class="pi pi-cog "style="font-size: 1.5rem "></i></a>
        <a class="nav-link text-light " routerLink="# "><i class="pi pi-shopping-cart p-overlay-badge " pBadge    style="font-size: 1.5rem "></i> </a>

    </ul>

</div>