<body class="bg-white">
    <section class="background1">
        <div class="container p-0">
            <div class="row">
                <div class="col-5 text-center" style="margin-left: 350px;font-weight: 100;margin-top: 30px;">
                    <span class="fs-2 g-5 fw-lighter text-secondary">Decode</span><br>
                    <span class="fs-2 g-5 fw-normal text-secondary">your kind of designer uniforms.</span>
                </div>

            </div>
        </div>
    </section>
    <!-- <div class="container bg-white">
        <div class="row">
            <div class="accordion bg-white">
                <section class="accordion-item bg-white">
                    <div class="d-flex container bg-white">
                        <div class="col-4 text-black">PRICE</div>
                        <div class="col-4 text-black">GENDER</div>
                        <div class="col-4 text-black">GRADE</div>
                        <div class="col-4 text-black">BRAND</div>
                    </div>
                    <div class="accordion-item-content">
                        <p>Content for section 1</p>
                    </div>
                </section>
            </div>
        </div>
    </div> -->

</body>