<body class="bg-white">
    <section class="background1">
        <div class="container p-0">
            <div class="row">
                <div class="col-5 text-center" style="margin-left: 350px;font-weight: 100;margin-top: 30px;">
                    <span class="fs-2 g-5 fw-lighter text-secondary">Decode</span><br>
                    <span class="fs-2 g-5 fw-normal text-secondary">your kind of designer uniforms.</span>
                </div>

            </div>
        </div>
    </section>
    <!-- <div class="container bg-white">
        <div class="row">
            <div class="accordion">
                <section class="accordion-item bg-white">
                    <div class="d-flex container bg-white">
                        <div class="col-3 text-black">PRICE</div>
                        <div class="col-3 text-black">GENDER</div>
                        <div class="col-3 text-black">GRADE</div>
                        <div class="col-3 text-black">BRAND</div>
                    </div>
                    <div class="accordion-item-content text-black">
                        <p>Content for section 1</p>
                        <p>Content for section 1</p>
                        <p>Content for section 1</p>
                    </div>
                </section>
            </div>
        </div>
    </div> -->
    <!-- <div class="container bg-white">
        <div class="row">
            <div class="accordion">
                <section class="accordion-item bg-white">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="accordion-toggle collapsed" id="accordion1" data-mdb-toggle="collapse" data-mdb-parent="#accordion1" href="#collapseOne" aria-controls="collapseOne">
                                    <td class="expand-button"></td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>

                                </tr>
                                <tr class="hide-table-padding">
                                    <td></td>
                                    <td colspan="3">
                                        <div id="collapseOne" class="collapse in p-3">
                                            <div class="row">
                                                <div class="col-2">label</div>
                                                <div class="col-6">value 1</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2">label</div>
                                                <div class="col-6">value 2</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2">label</div>
                                                <div class="col-6">value 3</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2">label</div>
                                                <div class="col-6">value 4</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="accordion-toggle collapsed" id="accordion2" data-mdb-toggle="collapse" data-mdb-parent="#accordion2" href="#collapseTwo" aria-controls="collapseTwo">
                                    <td class="expand-button"></td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr class="hide-table-padding">
                                    <td></td>
                                    <td colspan="4">
                                        <div id="collapseTwo" class="collapse in p-3">
                                            <div class="row">
                                                <div class="col-2">label</div>
                                                <div class="col-6">value</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2">label</div>
                                                <div class="col-6">value</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2">label</div>
                                                <div class="col-6">value</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2">label</div>
                                                <div class="col-6">value</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div> -->

</body>