.main {
    background-size: cover;
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-1.jpg);
    background-position: center 122px;
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.main .row {
    width: 100.9%;
}

.designer {
    margin-top: 390px;
    color: #978f8f;
    margin-bottom: 130px;
}

#text1 {
    padding-top: 250px;
    padding-bottom: 250px;
    color: #978f8f;
}

.main2 {
    background-size: cover;
    background-image: url(https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-2.jpg);
    background-position: center 122px;
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
}

#text2 {
    padding-top: 100px;
    color: #978f8f;
}