<div class="container-fluid">
    <div class="row justify-content-center fs-1 mt-5">
        Your bag total is {{ totalPrice(cart) | currency : "INR" : "symbol" : "3.0" }}
    </div>
    <hr class="border-3">
    <div class="container" *ngFor="let item of cart">

        <div class="row">
            <div class="col-3">
                <img [src]="item.imgSrc" alt="" width="350px" height="350px">
            </div>
            <div class="col-5">
                <div class="fs-4  fw-bold  text-center text-black">{{item.title}}<br><span class="fw-normal fs-5">Size:{{item.size}}</span></div>
            </div>
            <div class="col-1 mt-2 text-center fw-bold text-black">
                <span class="me-2 quantity">-</span> <span class="border border-1 px-2">{{item.quantity}}</span> <span class="ms-1 quantity">+</span>
            </div>
            <div class="col-3 fs-4 fst-normal text-center text-black">
                {{item.price*item.quantity | currency : "INR" : "symbol" : "3.0"}}<br>
                <a (click)="delete(item)" class="text-danger fs-6 fst-normal text-decoration-none">Remove</a>
            </div>
        </div>
        <hr class=" border-3">
    </div>
</div>